<app-page-header></app-page-header>
<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->
            <div class="post-preview" *ngFor="let item of posts">
              <a href="post-detail/{{item.postId}}">
                  <h2 class="post-title">{{item.title}}</h2>
                  <h3 class="post-subtitle">{{item.shortDecription}}</h3>
              </a>
              <p class="post-meta">
                  Posted by
                  <a href="#!">Son Dep Trai</a>
                  on {{item.postOn| date}}
              </p>
              <p class="post-meta">
                Category:<a [routerLink]="['post-by-category',item.categoryName]"> {{item.categoryName}}</a>
              </p>
              <p class="post-meta">
                Tags: {{item.tagName}}
              </p>
              <hr class="my-4">
          </div>

          <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
      </div>
  </div>
</div>
